.dropdown-list {
    --dropdown-border: 0.5px solid var(--accent-passive-color, #446E61);
    --dropdown-content-spacing: 15px;

    width: 195px;
    padding: 0 var(--dropdown-content-spacing);
    background-color: var(--elements-fill-color, #EFEFEF);
    border-radius: var(--content-radius-secondary, 8px);
    position: relative;
    cursor: pointer;
}

.dropdown-list:hover,
.dropdown-list.open {
    outline: var(--dropdown-border);
}

.dropdown-list.disabled {
    pointer-events: none;
    filter: var(--disabled-filter, grayscale(.3));
}

.dropdown-list.open .dropdown-options-list {
    overflow: auto;
    max-height: 300px;
    border: var(--dropdown-border);
}

.dropdown-options-list {
    z-index: 3;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    padding: 0 var(--dropdown-content-spacing);
    background-color: var(--primary-fill-color, #FFFFFF);
    border-radius: var(--content-radius-secondary, 8px);
    transition: var(--transition-time, .3s) max-height;
}

.dropdown-list .dropdown-list-head .dropdown-list-icon-container {
    transition: var(--transition-time, .3s);
}

.dropdown-list.open .dropdown-list-head .dropdown-list-icon-container {
    transform: rotate(180deg);
}