.dropdown-list {
    --transition-time: .3s;
    --dropdown-border: 0.5px solid var(--accent-passive-color);
    --dropdown-content-spacing: 15px;

    width: 195px;
    padding: 0 var(--dropdown-content-spacing);
    border: var(--dropdown-border);
    background-color: var(--primary-fill-color);
    border-radius: var(--content-radius-secondary);
    box-shadow: var(--default-shadow);
    position: relative;
    cursor: pointer;
}

.dropdown-list.disabled {
    pointer-events: none;
    filter: grayscale(.3);
}

.dropdown-list.open .dropdown-options-list {
    overflow: auto;
    max-height: 300px;
    border: var(--dropdown-border);
}

.dropdown-options-list {
    z-index: 3;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    padding: 0 var(--dropdown-content-spacing);
    background-color: var(--primary-fill-color);
    border-radius: var(--content-radius-secondary);
    transition: var(--transition-time) max-height;
}

.dropdown-list .dropdown-list-head .dropdown-list-icon-container {
    transition: var(--transition-time);
}

.dropdown-list.open .dropdown-list-head .dropdown-list-icon-container {
    transform: rotate(180deg);
}