button.dropdown-item,
button.dropdown-item:active, 
button.dropdown-item:focus,
button.dropdown-item:hover {
    background: none;
    border: none;
    outline: none;
}

button.dropdown-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 56px;
    letter-spacing: -0.5%;
}

button.dropdown-item.select {
    color: var(--accent-active-color);
}

button.dropdown-item.unselect {
    color: var(--primary-font-color);
}

button.dropdown-item:hover {
    cursor: pointer;
}