.content-container {
    --content-width: var(--content-width-desktop);
    max-width: var(--content-width);
    margin: auto;
}

main {
    min-height: 100vh;
    padding: var(--content-padding);
    padding-top: var(--navbar-height);
}