.content-container {
    --content-width: var(--content-width-desktop);
    max-width: var(--content-width);
    margin: auto;
}

main {
    min-height: 100vh;
    padding: var(--content-padding);
    padding-top: var(--navbar-height);
}

@media screen and (max-width: 720px) {
    .product-main-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-additional-info-more-button-container {
        display: flex;
        justify-content: flex-end;
    }

    .product-additional-info-text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 600px) {
    .products-search {
        order: 3;
        width: 100%;
    }

    main .products-page {
        padding-top: 60px;
    }

    .products-search {
        margin-top: 20px;
    }
}