.product {
    transition: var(--transition-time, .3s);
    width: 195px;
    height: 285px;
}

.product:hover {
    cursor: pointer;
}

/* .product:hover img.product-image { */
.product:hover {
    transform: scale(1.05);
}

.product-info {
    padding: var(--product-padding, 10px);
}

.product-name {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}