button.logo-button,
button.logo-button:active, 
button.logo-button:focus,
button.logo-button:hover {
    background: none;
    border: none;
    outline: none;
    display: block;
}

button.logo-button{
    transition: var(--transition-time, .3s);
}

button.logo-button:hover {
    cursor: pointer;
    transform: var(--elements-hover-rotation, rotate(4deg));
}
