.search-bar-container {
    height: var(--control-elements-height, 45px);
    width: 100%;
    min-width: 400px;
    max-width: 600px;
    background-color: var(--elements-fill-color, #EFEFEF);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border: transparent;
    border-radius: var(--content-radius-secondary, 8px);
}

.search-bar-container:focus-within,
.search-bar-container:hover {
    outline: 0.5px solid var(--accent-passive-color, #446E61);
}

input.search-bar,
input.search-bar:active, 
input.search-bar:focus,
input.search-bar:hover {
    background: none;
    border: none;
    outline: none;
}

input.search-bar:hover {
    cursor: pointer;
}

input.search-bar {
    flex: auto;
    height: 100%;
}
