.application-header {
    z-index: 5;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    padding: var(--content-padding);
    max-width: var(--content-width);
    background-color: var(--primary-background-color);
    box-shadow: var(--default-shadow);
    min-height: var(--navbar-height);
    border-radius: 0 0 var(--content-radius-primary) var(--content-radius-primary);
    top: 0;
}

.header-content-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}