.product-image-container {
    aspect-ratio: 1/1;
    background-color: var(--image-background-color);
    border-radius: var(--content-radius-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

img.product-image {
    overflow: hidden;
}

img.product-image.contain {
    object-fit: contain;
}

img.product-image.none {
    border-radius: var(--content-radius-primary);
    aspect-ratio: 1/1;
}