.footer-container {
    width: 100%;
    padding: 20px 40px;
    border-radius: 18px 18px 0 0;
    margin: auto;
    gap: 40px;
    background-color: var(--accent-passive-color);
}

.footer-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}