button.icon-button {
    transition: var(--transition-time, .3s);
}

button.icon-button,
button.icon-button:active, 
button.icon-button:focus,
button.icon-button:hover {
    background: none;
    border: none;
    outline: none;
}

button.icon-button:hover {
    cursor: pointer;
    transform: var(--elements-hover-rotation, rotate(4deg));
}

button.icon-button.disabled {
    pointer-events: none;
    
}
