button.icon-button {
    transition: var(--transition-time);
}

button.icon-button,
button.icon-button:active, 
button.icon-button:focus,
button.icon-button:hover {
    background: none;
    border: none;
    outline: none;
}

button.icon-button:hover {
    cursor: pointer;
}

button.icon-button.disabled {
    pointer-events: none;
    
}
